---
import { Image } from "astro:assets";

const {
  title,
  description,
  cover,
  date,
  tags,
  link,
  highlight = false,
  author,
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a
  class={`bg-card group shadow-md overflow-hidden cursor-pointer transition hover:shadow-lg ${highlight ? "lg:col-span-2" : ""}`}
  href={`/blogs/${link}`}
>
  <Image
    src={cover}
    alt={title}
    class="w-full aspect-[16/9] object-cover"
    width={1280}
    height={720}
    format="webp"
    loading="lazy"
    quality={80}
  />

  <div class={`p-4 space-y-1`}>
    <p class="text-sm text-muted-foreground">{formattedDate}</p>

    <h3
      class={`font-semibold transition-colors group-hover:text-primary ${highlight ? "text-4xl" : "text-lg"}`}
    >
      {title}
    </h3>

    <p class="text-xs text-muted-foreground italic">By {author}</p>

    {
      highlight && (
        <p
          class={`text-muted-foreground pt-2 ${highlight ? "line-clamp-6 " : "line-clamp-3 text-sm "}`}
        >
          {description}
        </p>
      )
    }
  </div>
</a>
