---
import { Image } from "astro:assets";

const { name, date, location, cover, link } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a
  href={`/events/${link}`}
  class="bg-card border-muted group flex flex-col gap-6 border shadow-sm transition hover:shadow-md md:flex-row"
>
  {
    cover && (
      <Image
        src={cover}
        alt={"cover"}
        width={256}
        height={192}
        class="h-48 w-full object-contain md:w-64"
        format="webp"
        loading="lazy"
        quality={5}
      />
    )
  }

  <div class="flex flex-col justify-between p-4">
    <div>
      <h2 class="group-hover:text-primary text-2xl font-semibold">
        {name}
      </h2>
      {location && <p class="text-muted-foreground mt-2">{location}</p>}
    </div>
    <span class="text-muted-foreground mt-4 text-sm">
      {formattedDate}
    </span>
  </div>
</a>
