---
import Layout from "@/layouts/Layout.astro";
import MarkdownLayout from "@/layouts/MarkdownLayout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import slugify from "slugify";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog) => ({
    params: { slug: slugify(blog.data.title, { lower: true, strict: true }) },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await render(blog);
const { title, date, author, cover, description, tags } = blog.data;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout>
  <main class="mx-auto max-w-4xl space-y-10 px-4 py-20">
    <!-- Blog Header -->
    <div class="space-y-4">
      <p class="text-primary rounded-md">
        {tags}
      </p>
      <h1 class="text-4xl font-bold">{title}</h1>
      <p class="text-muted-foreground">{description}</p>
      <div class="flex items-center gap-3">
        <img
          src={`https://github.com/${author}.png`}
          alt={author}
          class="h-10 w-10 rounded-full"
          onerror="this.onerror=null; this.src='/github_avatar.svg';"
        />
        <div class="flex flex-col leading-tight">
          <a
            class="text-primary font-semibold"
            href={`https://github.com/${author}`}
            target="_blank"
            rel="noreferrer"
          >
            {author}
          </a>
          <span class="text-muted-foreground text-sm">{formattedDate}</span>
        </div>
      </div>

      <div class="border-primary my-8 w-20 rounded-2xl border-4 border-b"></div>

      <!-- Blog Cover -->
      {
        cover && (
          <Image
            src={cover}
            alt={title}
            class="h-72 w-full rounded-xl object-cover shadow-md"
            width={800}
            height={400}
            loading={"eager"}
            format="webp"
            quality={80}
          />
        )
      }
    </div>

    <!-- Blog Markdown Content -->
    <MarkdownLayout>
      <Content />
    </MarkdownLayout>
  </main>
</Layout>
